.logo-mask {
    -webkit-mask-image: url("/INK_Logo_Blackpng");
    mask-image: url("/INK_Logo_Black.png");
  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  
    -webkit-mask-position: center;
    mask-position: center;
  
    -webkit-mask-size: 50%;
    mask-size: 50%;
}

.videoTattoo{
    width: 140em;
    height: 25em;
    margin: 0;
}

.page {
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
}

span{
    font-family: 'Kenia';
    font-weight: bold;
    font-size: 2.5em;
}

@media(max-width:1440px){
    .videoTattoo{
        width: 140em;
        height: 25em;
        margin: 0;
    }
}

@media(min-width:1440px){
    .videoTattoo{
        width: 200em;
        height: 25em;
        margin-top: 4em;
    }

    .logo-mask{
        -webkit-mask-size: 30%;
        mask-size: 30%;
    }
}






