.registerElementsDesign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95.3vh;
    align-items: center;
}


@media(max-width:768px){
    .options{
        flex-direction: column;
    }
}