h1{
    font-size: 5em;
    font-family: 'Kenia';
    color: white;
}

.home-design{
    height: 95.3vh;
}

.container-carosuel{
    display: flex;
    align-items: center;
    justify-content: center;
}

