.navbar {
    padding: 0;
}

.navigationBar {
    margin: 0;
    font-size: 0.7em;
    
}

.nav-link{
    color: white;
}

.navigationIcon {
    font-size: 2em;
    font-family: 'Kenia';
}

.container {
    display: flex;
    justify-content: end;
}

.navbar-toggler-icon {
    width: 0.5em;
    height: 0.5em;
    
}

.dropdown-item {
    font-size: 0.7em;
    align-items: center;
}


@media(max-width:768px) {
    .navigationLinks {
        flex-direction: column;
    }

    .navigationBar {
        width: 100vw;
    }
}

@media(max-width:1440px) {
    .dropdown{
        margin-right: 10em;
    }
}