.navbar {
    padding: 0;

}
.navbar-nav {
    padding: 0;
}

.navigationBar {
    margin: 0;
    font-size: 0.7em;
    padding: 0;
    padding-left: 1em;
    width: 100vw;
}

.container{
    width: 100vw;

}


.nav-link{
    color: white;
}

.navigationIcon {
    font-size: 2em;
    font-family: 'Kenia';
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler{
    background-color: white;
    
}
.navbar-toggler-icon {
    width: 0.5em;
    height: 0.5em;
}

.dropdown-item {
    font-size: 0.7em;
    align-items: center;
}

.navigationMenu{
    width: 97vw;
}


@media(max-width:768px) {
    .navigationLinks {
        flex-direction: column;
    }

}
