.navigationBar {
    margin: 0;
    
}

.navigationIcon {
    font-size: 2em;
    font-family: 'Kenia';
}

.navbar-toggler{
    background-color: white;
    
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color: #ffa516;
}