.regularButtonClass {
    height: 2em;
    width: 20em;
    margin-right: 1em;

    background: rgba(255, 255, 255, .27);
    color: white;

    font-weight: 700;
    font-size: 15px;
    font-family: 'Kenia';

    outline: none;
    border: none;

    transition: 0.3s;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;



}


.regularButtonClass:hover {

    cursor: pointer;
    color: #ffa516;
    transition: 0.3s;
}